section, header
    padding 3rem 6rem
    @media (max-width 960px)
        padding 3rem 2rem
.inner
    max-width 1140px
    margin 0 auto
header
    padding 9rem 6rem
    @media (max-width 960px)
        padding 9rem 2rem
    margin 2rem
    text-align center
    border 0.25rem solid bd
    position relative
    border-radius br
    &::before
        content ''
        display block
        position absolute
        top -1rem
        left @top
        background act
        border-radius br
        right -@left
        bottom -@top
        z-index -1
        margin -0.25rem
    &::after
        content ''
        display block
        position absolute
        {polkadot}
        border-radius br
        right 2rem
        width 40%
        height 4.5rem
        bottom -1rem
    &.act
        color white
    @extends .act
    h1
        text-shadow 0.25rem 0.25rem 0 acttext
        .emoji
            filter drop-shadow(0.25rem 0.25rem 0 acttext)
            vertical-align middle
            position relative
            top -0.1em
        margin 2rem 0
        padding 0
        font-size 5rem
        line-height 5rem
        @media (max-width 640px)
            font-size 12.5vw
            line-height 15vw
footer
    color grey
    background dark
    padding 1rem 6rem
    @media (max-width 960px)
        padding 1rem 2rem

.aCard
    padding 2rem 1rem
    margin 1rem 1rem 2rem
    {trans}
    cursor copy
    border 0.25rem solid bd
    //{shad}
    border-radius br
    background #f4f0e2
    color text
    position relative
    &::before
        content ''
        position absolute
        display block
        left 0.75rem
        top 0.75rem
        width 100%
        height 100%
        {polkadot}
        //border 0.25rem solid bl
        border-radius br
        z-index -1
        {trans}
    &:hover
        &::before
            left 0.5rem
            top 0.5rem
        //{shadclose}

.anEmojiGrid
    display flex
    flex-flow row wrap
    margin 0 -1rem
.anEmojiBlock, .anEmojiGrid .filler
    flex 1 1 20rem
    margin 1rem 1rem 2rem
    box-sizing border-box
.anEmojiGrid .filler
    padding 0rem 1rem
    height 1px
    margin-top 0
    margin-bottom 0
.anEmojiBlock
    text-align center
    @extends .aCard
    code
        display inline-block
        margin-top 1rem
.anEmoji
    font-size 10rem
    line-height 10rem
    display block
    margin -2rem -1rem 1rem -1rem
    background act
    padding 2rem
    border-bottom 0.25rem solid bd
    .emoji
        filter drop-shadow(0.25rem 0.25rem 0 acttext)

.emoji
    width 1em
    height @width

.aGitlabIcon
    position absolute
    right 2rem
    top 1rem
    img
        width 6rem
        height @width