@charset "utf-8"
@import url('https://fonts.googleapis.com/css?family=Inconsolata&display=swap');

/* частотники */
trans =
    transition 0.3s ease all
transshort =
    transition 0.15s ease all
shad =
    box-shadow 0.75rem 0.75rem 0 -0.25rem bgcolor, 0.75rem 0.75rem 0 0rem bl
shadclose =
    box-shadow 0.5rem 0.5rem 0 -0.25rem bgcolor, 0.5rem 0.5rem 0 0rem bl
polkadot =
    background:
        -moz-radial-gradient(bl 30%, transparent 40%),
        -moz-radial-gradient(bl 30%, transparent 40%);
    background:
        -webkit-radial-gradient(bl 30%, transparent 40%),
        -webkit-radial-gradient(bl 30%, transparent 40%);
    background:
        -webkit-radial-gradient(bl 30%, transparent 40%),
        -webkit-radial-gradient(bl 30%, transparent 40%);
    background-position: 0 0, 0.5rem 0.5rem;
    -webkit-background-size: 0.5rem 0.5rem;
    -moz-background-size: 0.5rem 0.5rem;
    background-size: 0.5rem 0.5rem;

/* шрифты */
fonts = font = 'Inconsolata', sans-serif, monospace, serif
font-mono = mono = Consolas, monospace

br = 0.25rem
brsmall = 0.2rem
iconsize = 1.5rem

/* цвета */
act = #F68323
acttext = #BD5321
accent1 = #A4C2BC
accent2 = #6D7E75
error = #d44f57
red = error
success = #4ab660
green = success
warning = #ff9748
orange = warning

theme = 'Day'

.act
    color act
.acttext
    color acttext
.error
    color error
.success
    color success
.warning
    color warning

bl = #BD5321
bgcolor = #DDE0C9
bd = #933d12

text = #272A2A
dark = text

/* анимации */
@keyframes rotate
    100%
        transform rotate(360deg)
@keyframes fadeOut
    from
        opacity 1
        visibility visible
    to
        opacity 0
        visibility hidden
.fadeout
    animation forwards 0.5s linear fadeOut

@require 'hvost.styl'

@require 'typography.styl'
@require 'inputs.styl'
@require 'buildingBlocks.styl'