button, input[type="button"], .button
    border 0.25rem solid bl
    padding 0.25rem 1rem
    background transparent
    color bd
    border-radius br
    cursor pointer
    font inherit
    vertical-align baseline
    margin 0 0.5rem
    {trans}
    &:active, &.hover:active, &.active, &:hover:active, &.active:hover:active
        background bl
        border-color bl
        color white
    &:hover, &.active:hover, &.hover
        background act
        border-color act
        color white
    .emoji
        vertical-align text-top
        margin-right 0.5rem