h1, h2, h3, h4, h5, h6
    margin-bottom 0
    color acttext
    .act &
        color white
    .white &
        color @color
    line-height 1.5em
    font-weight 700
h1, h2
    font-size 3rem
    line-height 3rem
    padding 0.75rem 0
h2
    font-size 2rem
    line-height 2rem
h3
    font-size 1.5rem
    line-height 1.5em
    font-weight 400
.hSub
    font-size 1.25rem
    line-height 1.5em
    font-weight 300
a
    color act
    text-decoration none
    trans
    &:hover
        color accent1
    section.act &, nav &
        color white
        text-decoration underline
dd
    margin 0
dt
    font-weight 500

code
    border 0.25rem solid bl
    border-radius br
    padding 0.4em 0.8em
    font inherit

p.big
    font-size 150%
    line-height 1.6

a
    {trans}

pre
    font-family font-mono
    &.inline
        border-radius brsmall
        padding 0 0.25rem