<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Comigoji | A sufficient emoji guide for git
        link(rel="stylesheet" href="bundle.css")
        include includes/icons.pug
    body
        -
            var flavors = [vanillaFlavor, gitmojiFlavor];
            // By Rodrigo Polo
            // https://stackoverflow.com/a/33032196
            function e2u(str) {
                str = str.replace(/\ufe0f|\u200d/gm, ''); // strips unicode variation selector and zero-width joiner
                var i = 0, c = 0, p = 0, r = [];
                while (i < str.length) {
                    c = str.charCodeAt(i++);
                    if (p) {
                        r.push((65536+(p-55296<<10)+(c-56320)).toString(16));
                        p = 0;
                    } else if (55296 <= c && c <= 56319) {
                        p = c;
                    } else {
                        r.push(c.toString(16));
                    }
                }
                return r.join('-');
            };
        header.act
            .inner
                h1.nmt
                    img(class="emoji" draggable="false" alt="🚀" src="https://twemoji.maxcdn.com/2/svg/1f680.svg")
                    |
                    | Comigoji
                .hSub A sufficient emoji guide for git by Cosmo Myzrail Gorynych
                a.aGitlabIcon(href="https://gitlab.com/CoMiGo/comigoji" target="_blank" title="Fork me on Gitlab 🍴")
                    img(src="icons/gitlab-icon-rgb.svg")
        section
            .inner
                main
                    .center#theFlavorSelector
                        .flexrow.inlineblock
                            span Flavor:
                            |
                            for flavor in flavors
                                button(data-flavor=flavor.flavor)
                                    img(class="emoji" draggable="false" alt=flavor.emoji src=`https://twemoji.maxcdn.com/2/svg/${e2u(flavor.emoji)}.svg`)
                                    |
                                    span=flavor.name
                    for flavor in flavors
                        .anEmojiGrid(id=flavor.flavor class=`${flavor.flavor !== 'vanilla'? 'hide' : ''}`)
                            for emoji in flavor.emojis
                                .anEmojiBlock(data-code=`:${emoji.code}:`)
                                    .anEmoji
                                        img(class="emoji" draggable="false" alt=emoji.emoji src=`https://twemoji.maxcdn.com/2/svg/${e2u(emoji.emoji)}.svg`)
                                    h2=emoji.title
                                    .hSub=emoji.flavor
                                    code=`:${emoji.code}:`
                            .filler
                            .filler
                            .filler
        section.npt
            article.inner#why
                h2.nmt.npt Why?
                p.
                    Because Gitmoji is bloated and, in practice, I personally use at max 10 of its emojis
                    for any of my hybrid apps or sites. A limited set of emojis removes the guessing process
                    of picking or reading emojis. It also helps to automatically generate a readable changelog,
                    or create data-driven actions on specific commits.
                p.
                    Comigojis are also short and easy to remember. No more unmemorable :globe_with_meridians:
                    or :speech_balloon:!
                p.
                    There are just nine emojis divided to three groups:
                ul
                    li Three of them to describe the development;
                    li Three another to comment on non-functional stuff;
                    li.
                        And the last three to highlight the most notable events of your development,
                        be it good ones or not.
                p.
                    And yes, I named them after #[i myself]. Booo! #[img(class="emoji" draggable="false" alt="👻" src=`https://twemoji.maxcdn.com/2/svg/${e2u('👻')}.svg`)]

                h2#naming Naming convention
                p.
                    If not otherwise noted in your repo, use the following structure:
                    #[span.acttext ${emoji} ${scope}: ${message}], or simply
                    #[span.acttext ${emoji} ${message}].
                    #[br] Use imperative mood for your messages and, please, don't write "Fix #[b an issue with]…" or "#[b Commit] …" or "#[b Upload] assets for …". You are already uploading a commit with a fix for an issue! Good examples:
                ul
                    li :wrench: Textures: Optimize the loading process of image import
                    li :bug: Rooms: Fix displaced textures in nested rooms
                    li :books: Debugger: Document helper functions that are available in development builds and debug mode
                    li :briefcase: Tutorials: Provide additional textures for "Making a space shooter"
                p and so on.

                h2#flavors Flavors
                ul
                    li.
                        #[a(href="#vanilla") "Vanilla"] is what I see as a good emoji guide.
                    li.
                        #[a(href="#gitmoji") "Gitmoji-like"] is the flavor that I use in repos that started with Gitmoji,
                        and, generally speaking, is a compatible subset of it.
                p.
                    You can copy these links to share a specific flavor with your colleagues.

                h2#tools Tools
                ul
                    li.
                        #[a(href="https://www.npmjs.com/package/comigoji-changelog" target="_blank") comigoji-changelog] for generating a neat-looking changelog from a number of repositories at once.
                p.
                    Created a new one? #[a(href="https://gitlab.com/CoMiGo/comigoji/edit/master/src/index.pug" target="_blank") Post a pull request] so it can be added here!
        footer
            .inner
                p
                    | By #[a(href="https://comigo.itch.io/" target="_blank") Cosmo Myzrail Gorynych]. Released under a permissive ISC License
                    br
                    | The site uses #[a(href="https://github.com/twitter/twemoji" target="_blank") Twemoji], which are licensed under CC-BY 4.0.
        script.
            function fallbackCopyTextToClipboard(text) {
                var textArea = document.createElement("textarea");
                textArea.value = text;
                document.body.appendChild(textArea);
                textArea.focus();
                textArea.select();

                try {
                    var successful = document.execCommand('copy');
                    var msg = successful ? 'successful' : 'unsuccessful';
                } catch (err) {
                    console.error('Fallback: Oops, unable to copy', err);
                }
                document.body.removeChild(textArea);
            };
            function copyTextToClipboard(text) {
                if (!navigator.clipboard) {
                    fallbackCopyTextToClipboard(text);
                    return;
                }
                navigator.clipboard.writeText(text)
                .catch(function(err) {
                    console.error('Async: Could not copy text: ', err);
                });
            };
            document.querySelector('.anEmojiGrid').addEventListener('click', function (e) {
                var emoji = e.target.closest('.anEmojiBlock');
                if (emoji) {
                    copyTextToClipboard(emoji.getAttribute('data-code'));
                }
            });

            document.querySelector('#theFlavorSelector').addEventListener('click', function (e) {
                var button = e.target.closest('button');
                if (button) {
                    var grids = document.querySelectorAll('.anEmojiGrid'),
                        buttons = document.querySelectorAll('#theFlavorSelector button');
                    for (var i = 0, l = grids.length; i < l; i++) {
                        grids[i].classList.add('hide');
                        buttons[i].classList.remove('active')
                    }
                    var flavor = button.getAttribute('data-flavor');
                    document.querySelector('#' + flavor).classList.remove('hide');
                    button.classList.add('active');
                    if (history.pushState) {
                        history.pushState(null, null, '#' + flavor);
                    } else {
                        location.hash = flavor;
                    }
                    e.preventDefault();
                }
            });

            if (location.hash) {
                var flavor = location.hash.slice(1);
                var grids = document.querySelectorAll('.anEmojiGrid');
                for (var i = 0, l = grids.length; i < l; i++) {
                    grids[i].classList.add('hide');
                }
                document.querySelector('#'+ flavor).classList.remove('hide');
                document.querySelector('#theFlavorSelector button[data-flavor="'+ flavor +'"]').classList.add('active');
            }